<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wistronits.wistlotto.repository.LottoRepository">
  <resultMap id="EmpInfoMap" type="com.wistronits.wistlotto.model.EmpInfoModel">
    <id column="emp_id" jdbcType="VARCHAR" property="empId" />
    <result column="group_id" jdbcType="VARCHAR" property="groupId" />
    <result column="emp_name" jdbcType="VARCHAR" property="empName" />
    <result column="emp_sex" jdbcType="VARCHAR" property="empSex" />
    <result column="emp_date" jdbcType="VARCHAR" property="empDate" />
    <result column="dept_id" jdbcType="VARCHAR" property="deptId" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="branch_id" jdbcType="VARCHAR" property="branchId" />
    <result column="emp_rate" jdbcType="INTEGER" property="empRate" />
    <result column="prize_flag" jdbcType="VARCHAR" property="prizeFlag" />
  </resultMap>
  <resultMap id="WinnerInfoMap" type="com.wistronits.wistlotto.model.WinnerInfoModel">
    <result column="prize_id" jdbcType="VARCHAR" property="prizeId" />
    <result column="prize_name" jdbcType="VARCHAR" property="prizeName" />
    <result column="prize_desc" jdbcType="VARCHAR" property="prizeDesc" />
    <result column="emp_id" jdbcType="VARCHAR" property="empId" />
    <result column="emp_name" jdbcType="VARCHAR" property="empName" />
    <result column="win_time" jdbcType="VARCHAR" property="winTime" />
  </resultMap>
  <resultMap id="PrizeInfoMap" type="com.wistronits.wistlotto.model.tables.TPrizeInfo">
    <id column="prize_id" jdbcType="VARCHAR" property="prizeId" />
    <result column="prize_type" jdbcType="VARCHAR" property="prizeType" />
    <result column="prize_name" jdbcType="VARCHAR" property="prizeName" />
    <result column="prize_desc" jdbcType="VARCHAR" property="prizeDesc" />
    <result column="prize_order" jdbcType="INTEGER" property="prizeOrder" />
    <result column="prize_multi" jdbcType="VARCHAR" property="prizeMulti" />
    <result column="prize_status" jdbcType="VARCHAR" property="prizeStatus" />
  </resultMap>
  <sql id="EmpInfo_Column_List">
    a.emp_id, a.group_id, a.emp_name, a.emp_sex, a.emp_date, a.dept_id, b.dept_name, b.branch_id, 
    a.emp_rate, a.prize_flag
  </sql>
  <sql id="WinnerInfo_Column_List">
	a.prize_id, b.prize_name, b.prize_desc, a.emp_id, c.group_id, c.emp_name, a.win_time
  </sql>
  <sql id="PrizeInfo_Column_List">
    a.prize_id, a.prize_type, a.prize_name, a.prize_desc, a.prize_order, a.prize_multi, a.prize_status
  </sql>
  <select id="getEmpList" resultMap="EmpInfoMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="EmpInfo_Column_List" />
    from t_emp_info a inner join t_dept_info b on a.dept_id = b.dept_id
  </select>
  <select id="getWinnerInfoList" resultMap="WinnerInfoMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="WinnerInfo_Column_List" />
    from t_win_info a inner join t_prize_info b on a.prize_id = b.prize_id inner join t_emp_info c on a.emp_id = c.emp_id 
    order by a.win_time desc, a.emp_id asc
  </select>
  <select id="getLottoPrize" resultMap="PrizeInfoMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="PrizeInfo_Column_List" />
    from t_prize_info a inner join t_prize_group_info b on a.prize_id = b.prize_id
    where b.prize_number > b.prize_winner
    order by a.prize_status desc, a.prize_order asc, a.prize_id desc, b.group_id asc
  </select>
  <update id="resetEmpInfo">
  	update t_emp_info set prize_flag = '0'
  </update>
  <update id="resetPrizeInfo">
  	update t_prize_info set prize_status = '1'
  </update>
  <update id="resetPrizeGroupInfo">
  	update t_prize_group_info set prize_winner = 0
  </update>
</mapper>