<!doctype html>
<html lang="zh-cn">
<head>
<title>纬创抽奖</title>
<link rel="shortcut icon" href="/favicon.ico">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/onsenui/css/onsenui.min.css">
<link rel="stylesheet" href="/onsenui/css/onsen-css-components.min.css">
<link rel="stylesheet" href="/ext/control/css/styles.min.css">
</head>
<body>
	<app-root></app-root>
	<script type="text/javascript" src="/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/ext/control/js/runtime.min.js"></script>
	<script type="text/javascript" src="/common/js/polyfills.min.js"></script>
	<script type="text/javascript" src="/ext/control/js/main.min.js"></script>
</body>
</html>
