<!doctype html>
<html lang="zh-cn">
<head>
<title>纬创抽奖</title>
<link rel="shortcut icon" href="/favicon.ico">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/ext/lotto/css/styles.min.css">
</head>
<body style="background-image: url(/ext/lottoback.jpg);">
	<app-root></app-root>
	<script type="text/javascript" src="/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/three/three.min.js"></script>
	<script type="text/javascript" src="/three/css3drenderer.min.js"></script>
	<script type="text/javascript" src="/three/autorotatecontrol.min.js"></script>
	<script type="text/javascript" src="/three/tween.min.js"></script>
	<script type="text/javascript" src="/common/js/polyfills.min.js"></script>
	<script type="text/javascript" src="/ext/lotto/js/runtime.min.js"></script>
	<script type="text/javascript" src="/ext/lotto/css/main.min.js"></script>
	<script type="text/javascript" src="/ext/lotto/js/main.min.js"></script>
</body>
</html>
