<!doctype html>
<html lang="zh-cn">
<head>
<title>纬创抽奖后台管理</title>
<link rel="shortcut icon" href="/favicon.ico">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/semantic/css/semantic.min.css">
<link rel="stylesheet" href="/ext/manage/css/styles.min.css">
</head>
<body>
	<app-root></app-root>
	<script type="text/javascript" src="/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/semantic/js/semantic.min.js"></script>
	<script type="text/javascript" src="/ext/manage/js/runtime.min.js"></script>
	<script type="text/javascript" src="/common/js/polyfills.min.js"></script>
	<script type="text/javascript" src="/ext/manage/js/main.min.js"></script>
</body>
</html>
